.Background {
  background-color: beige;
}

.Name {
  position: fixed;
  top: 60px;
  bottom: 300px;
  left:500px;
  background-color: aqua;
}

  .Header {
   }

  .Section {
  }

  .Aside {
    float: right;
    height: 150px;
    width: 150px;
    background-color: aqua;
  }

  .Fotter {
    height: 80px;
    width: 100%;
    background-color: black;
  }